{% extends "base.html" %}
{% block title %} Add New Product{% endblock %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-row">
                <div class="col-12 col-md-12 mb-3">
                    {{ form.product_name.label(class="form-control-label") }}
                    {{ form.product_name(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="form-group">
                {{ form.product_description.label(class="form-control-label") }}
                {{ form.product_description(class="form-control form-control-lg") }}
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6 mb-3">
                    {{ form.product_image.label(class="form-control-label") }}
                    {{ form.product_image(class="form-control form-control-lg") }}
                </div>
                <div class="col-12 col-md-6 mb-3">
                    {{ form.quantity.label(class="form-control-label") }}
                    {{ form.quantity(class="form-control form-control-lg") }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-6 mb-3">
                    {{ form.price.label(class="form-control-label") }}
                    {{ form.price(class="form-control form-control-lg") }}
                </div>
                <div class="col-12 col-md-6 mb-3">
                    {{ form.product_gst.label(class="form-control-label") }}
                    {{ form.product_gst(class="form-control form-control-lg") }}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endblock %}