{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <div class="form-row">
            <div class="col-12 col-md-4 mb-3">
                {{ form.first_name.label(class="form-control-label") }}
                {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                
            </div>
            <div class="col-12 col-md-4 mb-3">
                {{ form.last_name.label(class="form-control-label") }}
                {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="col-12 col-md-4 mb-3">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        </div>
        
        <div class="form-row">
            <div class="col-12 col-md-4 mb-3">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg", value=uname) }}
            </div>
            <div class="col-12 col-md-4 mb-3">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="col-12 col-md-4 mb-3">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
        </div>


    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>
    
{% endblock %}