{% extends "base.html" %}
{% block title %}All Employee{% endblock %}
{% block content %}
<div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Employee ID</th>
            <th>Phone</th>
            <th>Joning</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Employee ID</th>
            <th>Phone</th>
            <th>Joning</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </tfoot>

        <tbody>
            {% for user in users %}
          <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email_confirmed_at }}</td>
            <td>
              {% if user.active %}
              <span class="badge badge-success">Active</span>
              {% else %}
              <span class="badge badge-warning">Inactive</span>
              {% endif %}
            </td>
            <td>
              {% if user.active %}
              <a href="/status/{{ user.id }}" ><span class="badge badge-danger">Disable</span></a>
              {% else %}
              <a href="/status/{{ user.id }}" ><span class="badge badge-success">Enable</span></a>
              {% endif %}
            </td>
          </tr>  
          {% endfor %}                 
        </tbody>
        
      </table>
    </div>
  </div>
    
{% endblock %}