{% extends "base.html" %}
{% block title %}New Application{% endblock %}
{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.first_name.label(class="form-control-label") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.last_name.label(class="form-control-label") }}
                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.care_of.label(class="form-control-label") }}
                    {% if form.care_of.errors %}
                        {{ form.care_of(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.care_of.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.care_of(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.phone.label(class="form-control-label") }}
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.phone(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.adhaar.label(class="form-control-label") }}
                    {% if form.adhaar.errors %}
                        {{ form.adhaar(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.adhaar.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.adhaar(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.gender.label(class="form-control-label") }}
                    {% if form.gender.errors %}
                        {{ form.gender(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.gender(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                {{ form.full_adress.label(class="form-control-label") }}
                {% if form.full_adress.errors %}
                        {{ form.full_adress(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.full_adress.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.full_adress(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.sponser.label(class="form-control-label") }}
                    {% if form.sponser.errors %}
                        {{ form.sponser(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sponser.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.sponser(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.introducer.label(class="form-control-label") }}
                    {% if form.introducer.errors %}
                        {{ form.introducer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.introducer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.introducer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.bank_name.label(class="form-control-label") }}
                    {% if form.bank_name.errors %}
                        {{ form.bank_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.bank_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.bank_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.account_no.label(class="form-control-label") }}
                    {% if form.account_no.errors %}
                        {{ form.account_no(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.account_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.account_no(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.ifsc_code.label(class="form-control-label") }}
                    {% if form.ifsc_code.errors %}
                        {{ form.ifsc_code(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ifsc_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.ifsc_code(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.pan.label(class="form-control-label") }}
                    {% if form.pan.errors %}
                        {{ form.pan(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pan.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.pan(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.nominee.label(class="form-control-label") }}
                    {% if form.nominee.errors %}
                        {{ form.nominee(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nominee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.nominee(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.nominee_relation.label(class="form-control-label") }}
                    {% if form.nominee_relation.errors %}
                        {{ form.nominee_relation(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nominee_relation.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.nominee_relation(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </div>
            <div class="form-row">
                <div class="col-12 col-md-4 mb-3">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg", value=uname) }}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.dob.label(class="form-control-label") }}
                    {% if form.dob.errors %}
                        {{ form.dob(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.dob.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.dob(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="col-12 col-md-4 mb-3">
                    {{ form.photo.label(class="form-control-label") }}
                    {% if form.photo.errors %}
                        {{ form.photo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.photo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.photo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    {% endblock %}